$toast-true-color:#10aa0d;
$toast-true-background-color:rgba(230,253,248,0.7);
$toast-true-border-color:#00b98d;
$toast-false-color:#e3362a;
$toast-false-background-color:rgba(254,238,237,0.7);
$toast-false-border-color:#ed9ea1;
.app_dialog-toast{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    padding:5px 10px;
    border-radius:7px;
    z-index:99999999;
    .app_toast-icon{
        font-size:22px;
        margin:0 5px 0 0;
    }
    p{
        line-height:30px;
        font-size:14px;
    }
    &.true{
        border:solid 1px $toast-true-border-color;
        box-shadow:0 0 3px $toast-true-border-color inset;
        background-color:$toast-true-background-color;
        color:$toast-true-color;
    }
    &.false{
        border:solid 1px $toast-false-border-color;
        box-shadow:0 0 3px $toast-false-border-color inset;
        background-color:$toast-false-background-color;
        color:$toast-false-color;
    }
}
.app_toast-enter-active,.app_toast-leave-active{
    transition:all ease-out 0.3s;
}
.app_toast-enter{
    opacity: 0;
    margin:-30px 0 0 0;
}
.app_toast-enter-to,.app_toast-leave{
    opacity: 1;
    margin:0 0 0 0;
}
.app_toast-leave-to{
    opacity: 0;
    margin:30px 0 0 0;
}
